modules = ["nodejs-20"]
run = "npm run dev:replit"
entrypoint = "src/app/page.tsx"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start:replit"]
